<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{appName}}</title>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
  ShopifyApp.init({
    apiKey: '{{apiKey}}',
    shopOrigin: '{{shop.shopify_domain}}'
  });
</script>
</head>
<body>
  <h1>Welcome to {{ appName }}</h1>
  <p>You're currently logged in as: {{ shop.shopify_domain }}</p>
</body>
</html>